<div class="container mt-4">
  <div class="card">
    <p>
      <strong>Objectif : </strong> Utiliser le composant
      <code>my-button</code> dans notre page home et lui envoyer une valeur pour
      paramétrer le label du bouton.
    </p>
    <ul>
      Vous devez avoir 3 boutons avec les labels suivants:
      <li>Cerise (directement dans le template page-home)</li>
      <li>Ananas (propriété de la page-home)</li>
      <li>Abricot (propriété de la page-home)</li>
    </ul>
  </div>

  <!-- VOUS POUVEZ CODER EN DESSOUS -->
  <!-- VOUS POUVEZ CODER AU DESSUS -->
</div>
